/*HEADER AND SHOWCASE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.controls-container {
    width: 100%;
    min-height: 100vh;    
}

.controls-container .section {
    width: 100%;
}

.controls-container .img-container {
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: calc(70vh - 80px); /* 80px = <Header />'s height*/
    background-image: url('../public/images/mainbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px black inset;
    border-bottom: coral 2px solid;

    .buttons-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-container, .edit-container {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Fondamento', cursive;
                color: #ddd;
                text-shadow: 1px 1px 3px black;
                filter: drop-shadow(-1px -1px 5px black);
                text-align: center;
                font-size: 2rem;
            }

            a {
                margin-top: 1rem;
                width: 75%;
                height: 2.5rem;
                background: rgba(100, 99, 94, 0.5);
                border-radius: 5px;
                text-align: center;
                font-family: 'Fondamento', cursive;
                font-size: 1.5rem;
                line-height: 2.5rem;
                color: white;
                text-decoration: none;
                transition: all 0.2s linear;

                &:hover {
                    box-shadow: coral 0 0 10px;
                    transform: scale(1.02);
                }
            }
        }
    }
}

.controls-container section {
    min-height: 25vh;
    background: linear-gradient(to right top, #675A29, #413B24 50%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.controls-container p {
    color: #ddd;
    font-family: NotoSans;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
    text-shadow: 1px 1px 3px black;
}

.controls-container span {
    color: coral;
}



/* HUT LIST */
.controls-container #hut-list-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;

    img {
        width: 350px;
        filter: drop-shadow(-5px 5px 5px black);
    }

    .controls-hut-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        width: 50%;

        .item-box {
            opacity: 0.7;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            list-style-type: none;
            background: rgb(241, 235, 201);
            box-shadow: rgba(68, 68, 68, 0.295) 20px -12px 25px 2px inset, black -10px 10px 10px;
            filter: drop-shadow(rgb(78, 76, 75) 0 0 10px);
            overflow: hidden;
            padding: 15px 5%;
            margin-bottom: 2rem;
            cursor: pointer;
            transition: all 0.2s linear;

            &:hover {
                filter: drop-shadow(-5px 5px 10px coral);
                box-shadow: rgba(68, 68, 68, 0.295) 20px -12px 25px 2px inset;
                transform: scale(1.02);
            }

            .item-img {
                overflow: hidden;
                border-radius: 50%;
            }

            li {
                font-family: Fondamento, cursive;
            }
        }
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 1rem 0 2rem 0;
        flex-wrap: wrap;

        & > * {
            width: 100px;
            color: #ddd;
            font-family: Fondamento, cursive;
            font-size: 0.75rem;
            cursor: pointer;
            transition: all 0.3s linear;
            text-align: center;

            &:hover {
                color: coral;
            }
        }
    }
}



/*LOCATIONS SECTION*/
.controls-container #locations-section {
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    background-image: url('../public/images/osnicazrozsutca.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px black inset;
    border-bottom: coral 2px solid;
    border-top: coral 2px solid;
}