.forgot-password-screen {
    width: 100%;
    height: calc(100vh - 80px); /*80px = Header's height*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../public/images/mainbg.jpg') no-repeat center center/cover;
    overflow: hidden;
    position: relative;

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        h2 {
            font-family: 'Fondamento', cursive;
            color: #ddd;
            text-shadow: 1px 1px 3px black;
            filter: drop-shadow(-1px -1px 5px black);
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
            width: 90%;
        }

        input {
            width: 90%;
            background: 0;
            border: 0;
            outline: 0;
            padding: 0;
            margin: 0;
            font-family: MateSC;
            font-size: 1.5rem;
            color: #ddd;
            text-align: center;
            margin-bottom: 2rem;
        }

        button {
            width: 200px;
            height: 2.5rem;
            background: rgba(100, 99, 94, 0.5);
            border-radius: 5px;
            border: 0;
            outline: 0;
            text-align: center;
            font-family: 'Fondamento', cursive;
            font-size: 1.5rem;
            line-height: 2rem;
            color: white;
            text-decoration: none;
            transition: all 0.2s linear;
            cursor: pointer;
            box-shadow: -2.5px 2.5px 5px #444;

            &:hover {
                box-shadow: coral 0 0 10px;
                color: coral;
                transform: scale(1.02);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

.forgot-password-screen .go-back-btn {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 0;
    margin: 0;
    outline: 0;
    background: 0;
    border: 0;
    font-family: MateSC;
    color: #ddd;
    text-shadow: #444 -1px 1px 5px;
    cursor: pointer;
    transition: all 0.4s linear;

    &:hover {
        color: orangered;
        text-shadow: coral 0 0 10px;
        transform: scale(1.1);
    }
}