/*CONTAINER*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

.hut-details-container {
    max-width: 2000px;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../public/images/mainbg.jpg') no-repeat center center/cover;
    box-shadow: silver 0 0 200px;
    position: relative;
}



/* navigation */
.hut-details-container nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    order: 2;
}

.hut-details-container .logo {
    transform: scale(1.25);
    filter: drop-shadow(0 0 100px orangered);
}

.hut-details-container ul {
    list-style: none;
}

.hut-details-container li {
    color: #ddd;
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
    text-shadow: black 1px 1px 5px;
    font-family: 'Lobster', cursive;
    transition: all 0.25s linear;
}

.hut-details-container ul a {
    color: #ddd;
    text-decoration: none;
}

.hut-details-container li:hover {
    transform: scale(1.1);
    text-shadow: coral 0 0 10px, black 1px 1px 1px;
    cursor: pointer;
}

.hut-details-container li:active {
    transform: scale(0.9);
    text-shadow: coral 0 0 50px, black 1px 1px 1px;
    color: coral;
}

.hut-details-container .current {
    color: rgb(211, 103, 63);
    position: relative;
}

.hut-details-container .current::after {
    content: '';
    width: 90%;
    height: 2px;
    background: rgb(211, 103, 63);
    position: absolute;
    bottom: 0;
    left: 5%;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
}

.hut-details-container .icon {
    color: #ddd;
    filter: drop-shadow(black 1px 1px 5px);
    transition: all 0.25s linear;
}



/*card*/
.hut-details-container .card-container {
    width: 50%;
    height: 100%;
    position: relative;
    order: 1;
}

.hut-details-container .card {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
    border-radius: 10px;
}

.hut-details-container .card:hover > .front {
    transform: translate(-50%, -50%) perspective(30cm) rotateY(180deg);
}

.hut-details-container .card:hover > .back {
    transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
}

.hut-details-container .front {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
    background: url('../public/images/mainbg.jpg') no-repeat center center/cover;
    backface-visibility: hidden;
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    box-shadow: black 0 0 200px,black -10px 10px 10px;
}

.hut-details-container .front p {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #ddd;
    text-shadow: 1px 1px 5px black;
    filter: drop-shadow(-1px -1px 10px black);
    font-size: 1.2rem;
    font-weight: 700;
}

.hut-details-container .back {
    width: 100%;
    height: 100%;
    background: rgb(238, 235, 219);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(30cm) rotateY(-180deg);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    box-shadow: #444 25px -25px 100px inset, black -10px 10px 10px;
    filter: drop-shadow(rgb(78, 76, 75) 0 0 10px);
    overflow: hidden;

    .wrapper-for-scroll {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        margin-top: 2rem;
        overflow-y: scroll;
        height: 90%;

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            margin-right: 5px;
        }
    
        &::-webkit-scrollbar {
            width: 5px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
            background-color: rgba(192, 192, 192, 0.747);
        }

        .comments-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #888;
            font-size: 2rem;
            cursor: pointer;
            transition: color 0.3s linear;

            &:hover {
                color: #666;
            }

            &:active {
                transform: scale(0.8);
            }
        }
    }
}

.hut-details-container .back p {
    color: orangered;
    font-family: 'Fondamento', cursive;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-bottom: 0.25rem;
}

.hut-details-container .back span {
    color: #444;
    font-family: 'Fondamento', cursive;
}

.hut-details-container .back .button {
    margin-top: 2rem;
    padding: 10px;
    margin-right: 10px;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        text-shadow: rgba(255, 127, 80, 0.801) 0 0 7.5px;
    }

    &:active {
        transform: scale(0.8);
    }
}

