/*CONTAINER*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

.hut-details-container {
    width: 100vw;
    margin: auto;
    height: calc(100vh - 80px); //80px = Header's height
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../public/images/mainbg.jpg') no-repeat center center/cover;
    box-shadow: silver 0 0 200px;
    position: relative;

    .card {
        width: 75%;
        height: 500px;
        padding: 2.5%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 10px;
        background: rgb(238, 235, 219);
        box-shadow: #444 25px -25px 100px inset, black -10px 10px 10px;
        filter: drop-shadow(rgb(78, 76, 75) 0 0 10px);
        overflow: hidden;
        opacity: 0.75;

        .wrapper-for-scroll {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.3);
            }
        
            &::-webkit-scrollbar {
                width: 5px;
                opacity: 0.5;
                display: none; //delete this to show scrollbar
            }
        
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: rgba(0, 0, 0, 0.8);
            }

            .image {
                height: 100%; // = 500px
                border-radius: 10px;
                margin-right: 15px;
                width: 40%;
                min-width: 350px;
            }

            .text-container {
                //padding-right: 15px; //add this if scrollbar shown
                position: relative;
                flex: 1;

                .show-comments-btn {
                    position: absolute;
                    right: 5px;
                    top: 0px;
                    cursor: pointer;
                    transition: 0.3s linear;

                    &:hover {
                        transform: scale(1.1);
                    }

                    &:active {
                        opacity: 0.1;
                    }

                    .icon {
                        font-size: 1.5rem;
                    }

                    h3 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #eee;
                    }
                }

                p {
                    color: orangered;
                    font-family: 'Fondamento', cursive;
                    padding: 0;
                    margin-top: 0;

                    &:last-child {
                        text-align: center;
                        margin-top: 2rem;
                        cursor: pointer;
                        transition: 0.3s linear;

                        &:hover {
                            transform: scale(1.05);
                            text-shadow: 0 0 10px coral;
                        }

                        &:active {
                            transform: scale(0.8);
                        }
                    }
                }

                span {
                    color: #333;
                    font-family: 'Fondamento', cursive;
                }
            }
        }
    }
}



//MEDIAQUERY
//width: M-size
@media (max-width: 1000px) {
    .hut-details-container .card {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .hut-details-container .card {
        opacity: 0.9;
    }

    .hut-details-container .card .wrapper-for-scroll{
        flex-direction: column;

        .image {
            width: 100%;
            min-width: 100%;
            min-height: 250px;
        }

        .text-container {
            margin-top: 15px;
            width: 100%;

            p:nth-child(2) {
                margin-top: 2rem;
            }
        }
    }
}



//height: S-size
@media (max-height: 600px) {
    .hut-details-container {
        height: 700px;
    }
}

//height: L-size
@media (min-height: 900px) {
    .hut-details-container .card {
        height: 600px;
    }
}




/*    ORIGINAL CSS
// navigation
.hut-details-container nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    order: 2;
}

.hut-details-container .logo {
    transform: scale(1.25);
    filter: drop-shadow(0 0 100px orangered);
}

.hut-details-container ul {
    list-style: none;
}

.hut-details-container li {
    color: #ddd;
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
    text-shadow: black 1px 1px 5px;
    font-family: 'Lobster', cursive;
    transition: all 0.25s linear;
}

.hut-details-container ul a {
    color: #ddd;
    text-decoration: none;
}

.hut-details-container li:hover {
    transform: scale(1.1);
    text-shadow: coral 0 0 10px, black 1px 1px 1px;
    cursor: pointer;
}

.hut-details-container li:active {
    transform: scale(0.9);
    text-shadow: coral 0 0 50px, black 1px 1px 1px;
    color: coral;
}

.hut-details-container .current {
    color: rgb(211, 103, 63);
    position: relative;
}

.hut-details-container .current::after {
    content: '';
    width: 90%;
    height: 2px;
    background: rgb(211, 103, 63);
    position: absolute;
    bottom: 0;
    left: 5%;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
}

.hut-details-container .icon {
    color: #ddd;
    filter: drop-shadow(black 1px 1px 5px);
    transition: all 0.25s linear;
}





// card
.hut-details-container .card-container {
    width: 50%;
    height: 100%;
    position: relative;
    order: 1;
}

.hut-details-container .card {
    width: 450px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
    border-radius: 10px;
}

.hut-details-container .card:hover > .front {
    transform: translate(-50%, -50%) perspective(30cm) rotateY(180deg);
}

.hut-details-container .card:hover > .back {
    transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
}

.hut-details-container .front {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
    background: url('../public/images/mainbg.jpg') no-repeat center center/cover;
    backface-visibility: hidden;
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    box-shadow: black 0 0 200px,black -10px 10px 10px;
}

.hut-details-container .front p {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #ddd;
    text-shadow: 1px 1px 5px black;
    filter: drop-shadow(-1px -1px 10px black);
    font-size: 1.2rem;
    font-weight: 700;
}

.hut-details-container .back {
    width: 100%;
    height: 100%;
    background: rgb(238, 235, 219);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(30cm) rotateY(-180deg);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    box-shadow: #444 25px -25px 100px inset, black -10px 10px 10px;
    filter: drop-shadow(rgb(78, 76, 75) 0 0 10px);
    overflow: hidden;

    .wrapper-for-scroll {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        margin-top: 2rem;
        overflow-y: scroll;
        height: 90%;

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            margin-right: 5px;
        }
    
        &::-webkit-scrollbar {
            width: 5px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
            background-color: rgba(192, 192, 192, 0.747);
        }

        .comments-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #888;
            font-size: 2rem;
            cursor: pointer;
            transition: color 0.3s linear;

            &:active {
                transform: scale(0.8);
            }
        }
    }
}

.hut-details-container .back p {
    color: orangered;
    font-family: 'Fondamento', cursive;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-bottom: 0.25rem;
}

.hut-details-container .back span {
    color: #444;
    font-family: 'Fondamento', cursive;
}

.hut-details-container .back .button {
    margin-top: 2rem;
    padding: 10px;
    margin-right: 10px;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        text-shadow: rgba(255, 127, 80, 0.801) 0 0 7.5px;
    }

    &:active {
        transform: scale(0.8);
    }
}




//MEDIAQUERY
//width:

//1000
@media (max-width: 1000px) {
    .hut-details-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hut-details-container .logo {
        display: none;
    }

    .hut-details-container nav {
        width: 100%;
        order: 1;
    }

    .hut-details-container ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    .hut-details-container li {
        color: #ddd;
        font-size: 1.5rem;
        line-height: 2;
        text-align: center;
        text-shadow: black 1px 1px 5px;
        font-family: 'Lobster', cursive;
        transition: all 0.25s linear;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


//650
@media (max-width: 650px) {
    .hut-details-container li {
        font-size: 1rem;
    }

    .hut-details-container .icon {
        font-size: 1rem;
    }

    .hut-details-container .card {
        width: 180%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
        border-radius: 10px;
    }
}


//480
@media (max-width: 480px) {
    .hut-details-container li {
        font-size: 0.75rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .hut-details-container .icon {
        font-size: 0.75rem;
    }

    .hut-details-container .card {
        width: 180%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
        border-radius: 10px;
    }
}


//430
@media (max-width: 430px) {
    .hut-details-container .card {
        width: 180%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
        border-radius: 10px;
    }
}


//380
@media (max-width: 380px) {
    .hut-details-container .card {
        width: 180%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
        border-radius: 10px;
    }
}

//330
@media (max-width: 330px) {
    .hut-details-container .card {
        width: 180%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(30cm) rotateY(0deg);
        border-radius: 10px;
    }

    .hut-details-container .icon {
        display: none;
    }
}




//height:
@media (max-height: 600px) {
    .hut-details-container {
        height: 1000px;
    }
}
*/