.popup-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;

    .popup {
        width: 240px;
        height: 120px;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 20px;
        bottom: -400px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s linear;
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) -5px 5px 10px;

        p {
            color: #ddd;
            font-family: MateSC;
            text-align: center;
        }
    }
}

.popup-container .popup.active {
    transform: translateY(-460px);
}