* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "./fonts";
@import './index';
@import './about';
@import './list';
@import './Header';
@import './controls';
@import './signin';
@import './addhut';
@import './adminIndexPage';
@import './locationCreate';
@import './locationEdit';
@import './locationList';
@import './typeList';
@import './typeEdit';
@import './typeCreate';
@import './hutList';
@import './HutsSearch';
@import './hutedit';
@import './hutdetails';
@import './Popup';
@import './ConfirmModal';
@import './HutMapModal';
@import './CommentsModal';
@import './ControlsHutsSearch';
@import './forgotPassword';
@import './forgotPassword';
@import './passwordReset';
@import './activateAccount';
@import './map';
@import './hutsinlocation.scss';
@import './toppicks.scss';
@import './contact.scss';

